[submodule "apps/data_collection"]
	path = apps/data_collection
	url = git@github.com:PM-Maestro-ITI-GP-Org/motor_recorder_gui.git
	branch = feat/maestro-integration
[submodule "apps/ota"]
	path = apps/ota
	url = git@github.com:PM-Maestro-ITI-GP-Org/ota_update_gui.git
	branch = feat/maestro-integration
[submodule "core"]
	path = core
	url = git@github.com:PM-Maestro-ITI-GP-Org/pdm_app_core.git
	branch = main
